/**
 * venScrollbar jQuery Plugin v2.0.0
 * http://codecanyon.net/item/venscrollbar-a-jquery-scrollbar-plugin/118911
 * 
 * Copyright 2011, Stephen Bunch
 *
 * August 2011
 */
.venscrollbar-root
{
	position: relative;
}

.venscrollbar-viewport
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
}

.venscrollbar-body
{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
}

/* scrollbar containers */
.venscrollbar-ui-x { position: absolute; bottom: 0; left: 18px; right: 18px; height: 18px; }
.venscrollbar-ui-y { position: absolute; right: 0; top: 18px; bottom: 18px; width: 18px; }

/* bars and tracks */
.venscrollbar-ui-x-bar { position: absolute; height: 16px; }
.venscrollbar-ui-y-bar { position: absolute; width: 16px; }
.venscrollbar-ui-x-track { position: absolute; height: 16px; left: 0; right: 0; }
.venscrollbar-ui-y-track { position: absolute; width: 16px; top: 0; bottom: 0; }

/* arrows */
.venscrollbar-ui-up, .venscrollbar-ui-down, .venscrollbar-ui-left, .venscrollbar-ui-right { position: absolute; height: 16px; width: 16px; }
.venscrollbar-ui-up { top: 0; right: 0; }
.venscrollbar-ui-down { bottom: 0; right: 0; }
.venscrollbar-ui-left { bottom: 0; left: 0; }
.venscrollbar-ui-right { bottom: 0; right: 0; }