/**
 * venScrollbar jQuery Plugin v2.0.0
 * http://codecanyon.net/item/venscrollbar-a-jquery-scrollbar-plugin/118911
 * 
 * Copyright 2011, Stephen Bunch
 *
 * August 2011
 */
.google > .venscrollbar-ui .venscrollbar-ui-y-bar,
.google > .venscrollbar-ui .venscrollbar-ui-y-track { right: 0; }
.google > .venscrollbar-ui .venscrollbar-ui-x-bar,
.google > .venscrollbar-ui .venscrollbar-ui-x-track { bottom: 0; }
.google > .venscrollbar-ui .venscrollbar-ui-y { top: 17px; bottom: 17px; width: 17px; }
.google > .venscrollbar-ui .venscrollbar-ui-x { left: 17px; right: 17px; height: 17px; }

.google > .venscrollbar-ui .venscrollbar-ui-y-track
{
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 0 1px;
	background: #F5F5F5;
	width: 14px;
	top: -1px;
	bottom: -1px;
}

.google > .venscrollbar-ui .venscrollbar-ui-x-track
{
	border-style: solid;
	border-color: #E5E5E5;
	border-width: 1px 0;
	background: #F5F5F5;
	height: 14px;
	left: -1px;
	right: -1px;
}
 
.google > .venscrollbar-ui .end-top,
.google > .venscrollbar-ui .end-bottom,
.google > .venscrollbar-ui .end-left,
.google > .venscrollbar-ui .end-right,
.google > .venscrollbar-ui .grip,
.google > .venscrollbar-ui .decor
{
	background-image: url("img/sprite.png");
	background-repeat: no-repeat;
	position: absolute;
}

.google > .venscrollbar-ui .end-top
{
	right: 0;
	left: 0;
	top: 0;
	height: 5px;
	background-position: 0 0;
}

.google > .venscrollbar-ui .middle-y
{
	position: absolute;
	right: 0;
	left: 0;
	top: 5px;
	bottom: 5px;
	background-image: url("img/bg-y.png");
	background-repeat: repeat-y;
	background-position: 0 0;
}

.google > .venscrollbar-ui .end-bottom
{
	right: 0;
	left: 0;
	bottom: 0;
	height: 5px;
	background-position: 0 -30px;
}

.google > .venscrollbar-ui .venscrollbar-hover .end-top { background-position: 0 -6px; }
.google > .venscrollbar-ui .venscrollbar-hover .middle-y { background-position: -17px 0; }
.google > .venscrollbar-ui .venscrollbar-hover .end-bottom { background-position: 0 -24px; }
.google > .venscrollbar-ui .venscrollbar-active .end-top { background-position: 0 -12px; }
.google > .venscrollbar-ui .venscrollbar-active .middle-y { background-position: -34px 0; }
.google > .venscrollbar-ui .venscrollbar-active .end-bottom { background-position: 0 -18px; }

.google > .venscrollbar-ui .end-left
{
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	background-position: -17px 0;
}

.google > .venscrollbar-ui .middle-x
{
	position: absolute;
	right: 5px;
	left: 5px;
	bottom: 0;
	top: 0;
	background-image: url("img/bg-x.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}

.google > .venscrollbar-ui .end-right
{
	right: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	background-position: -47px 0;
}

.google > .venscrollbar-ui .venscrollbar-hover .end-left { background-position: -23px 0; }
.google > .venscrollbar-ui .venscrollbar-hover .middle-x { background-position: 0 -17px; }
.google > .venscrollbar-ui .venscrollbar-hover .end-right { background-position: -41px 0; }
.google > .venscrollbar-ui .venscrollbar-active .end-left { background-position: -29px 0; }
.google > .venscrollbar-ui .venscrollbar-active .middle-x { background-position: 0 -34px; }
.google > .venscrollbar-ui .venscrollbar-active .end-right { background-position: -35px 0; }

.google > .venscrollbar-ui .grip
{
	margin: auto;
	height: 8px;
	width: 8px;
}

.google > .venscrollbar-ui .venscrollbar-ui-y-bar .grip { background-position: -44px -18px; left: 4px; top: 0; bottom: 0; }
.google > .venscrollbar-ui .venscrollbar-ui-x-bar .grip { background-position: -44px -27px; top: 4px; left: 0; right: 0; }

.google > .venscrollbar-ui .venscrollbar-ui-up .decor,
.google > .venscrollbar-ui .venscrollbar-ui-down .decor { width: 8px; height: 5px; left: 4px; }

.google > .venscrollbar-ui .venscrollbar-ui-left .decor,
.google > .venscrollbar-ui .venscrollbar-ui-right .decor { width: 5px; height: 8px; top: 4px; }

.google > .venscrollbar-ui .venscrollbar-ui-up .decor { background-position: -18px -18px; top: 5px; }
.google > .venscrollbar-ui .venscrollbar-ui-down .decor { background-position: -18px -25px; bottom: 5px; }
.google > .venscrollbar-ui .venscrollbar-ui-left .decor { background-position: -28px -18px; left: 5px; }
.google > .venscrollbar-ui .venscrollbar-ui-right .decor { background-position: -35px -18px; right: 5px; }

/* IE7 hacks */
.google > .venscrollbar-ui .venscrollbar-ui-y-bar .ie7-wrap { *position: absolute; *top: 50%; }
.google > .venscrollbar-ui .venscrollbar-ui-y-bar .grip { *margin: 0; *top: -50%; *position: relative; }
.google > .venscrollbar-ui .venscrollbar-ui-x-bar .ie7-wrap { *position: absolute; *width: 100%; }
.google > .venscrollbar-ui .venscrollbar-ui-x-bar .grip { *margin: 0 auto; *position: relative; }