/**
 * venScrollbar jQuery Plugin v2.0.0
 * http://codecanyon.net/item/venscrollbar-a-jquery-scrollbar-plugin/118911
 * 
 * Copyright 2011, Stephen Bunch
 *
 * August 2011
 */
.lion > .venscrollbar-ui .venscrollbar-ui-x
{
	bottom: 2px;
	left: 2px;
	right: 2px;
}
.lion > .venscrollbar-ui .venscrollbar-ui-y
{
	right: 2px;
	top: 2px;
	bottom: 2px;
}

.lion > .venscrollbar-ui .venscrollbar-ui-up,
.lion > .venscrollbar-ui .venscrollbar-ui-down,
.lion > .venscrollbar-ui .venscrollbar-ui-left,
.lion > .venscrollbar-ui .venscrollbar-ui-right,
.lion > .venscrollbar-ui .venscrollbar-ui-x-track,
.lion > .venscrollbar-ui .venscrollbar-ui-y-track
{
	display: none;
}

.lion > .venscrollbar-ui .venscrollbar-ui-x,
.lion > .venscrollbar-ui .venscrollbar-ui-x-bar
{
	height: 9px;
}

.lion > .venscrollbar-ui .venscrollbar-ui-y,
.lion > .venscrollbar-ui .venscrollbar-ui-y-bar
{
	width: 9px;
}
 
.lion > .venscrollbar-ui .end-top,
.lion > .venscrollbar-ui .end-bottom,
.lion > .venscrollbar-ui .end-left,
.lion > .venscrollbar-ui .end-right
{
	background-image: url("img/sprite.png");
	background-repeat: no-repeat;
	position: absolute;
}

.lion > .venscrollbar-ui .end-top
{
	right: 0;
	left: 0;
	top: 0;
	height: 6px;
	background-position: 0 0;
}

.lion > .venscrollbar-ui .middle-y
{
	position: absolute;
	right: 0;
	left: 0;
	top: 6px;
	bottom: 6px;
	background-image: url("img/bg-y.png");
	background-repeat: repeat-y;
	background-position: 0 0;
}

.lion > .venscrollbar-ui .end-bottom
{
	right: 0;
	left: 0;
	bottom: 0;
	height: 6px;
	background-position: 0 -7px;
}

.lion > .venscrollbar-ui .end-left
{
	left: 0;
	top: 0;
	bottom: 0;
	width: 6px;
	background-position: -10px 0;
}

.lion > .venscrollbar-ui .middle-x
{
	position: absolute;
	right: 6px;
	left: 6px;
	bottom: 0;
	top: 0;
	background-image: url("img/bg-x.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}

.lion > .venscrollbar-ui .end-right
{
	right: 0;
	top: 0;
	bottom: 0;
	width: 6px;
	background-position: -17px 0;
}
